<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ff9900"/>
    
    <link rel="apple-touch-icon" href="/images/icon-192x192.png">
    
    <link rel="stylesheet" href="/style.css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DBCTSWLH8F"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DBCTSWLH8F');
    </script>
    
</head>
<body>
    <header class="main-header">
        <h1>BitPanel</h1>
        <nav class="main-nav">
            <ul>
                <li><a href="/" class="<%= page === 'dashboard' ? 'active' : '' %>">Painel Principal</a></li>
                <li><a href="/dca" class="<%= page === 'dca' ? 'active' : '' %>">Calculadora DCA</a></li>
            </ul>
        </nav>
    </header>

    <div class="status-bar">
        <span>Última atualização do servidor: <b id="last-update-time">Carregando...</b></span>
    </div>

    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <em>Modo Escuro</em>
    </div>