<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Panel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Painel Bitcoin</h1>

    <div class="status-bar">
        <span>Última atualização do servidor: <b id="last-update-time">Carregando...</b></span>
    </div>

    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" value="false" />
            <div class="slider round"></div>
        </label>
        <em>Modo Escuro</em>
    </div>